<!DOCTYPE html>
<html lang="en" ng-app="ToDoList">
<head>
  <meta charset="utf-8">
  <title>Todo List</title>
  <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css">
  <link rel="stylesheet" href="css/style.css">
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src="bower_components/angular/angular.js"></script>
  <script src="bower_components/angular-resource/angular-resource.js"></script>
  <script src="js/app.js"></script>
  <script src="js/toDoListController.js"></script>
  <script src="js/toDoListStorageFactory.js"></script>
</head>

<body class="container" ng-controller="ToDoListController as ctrl">
  <header class="row"></header>
  <section class="row">
    <form class="form-horizontal text-center" name="insertTask" ng-submit="ctrl.addItem()">
      <input type="text" placeholder="What needs to be done?" ng-model="ctrl.newItem" required autofocus>
    </form>
    <ul class="items-result list-group" ng-show="ctrl.items.length">
      <li class="list-group-item" ng-repeat="item in ctrl.filteredItems">
        <label>
          <input type="checkbox" ng-model="item.completed" ng-change="ctrl.toggleCompleted(item)">
          {{item.title}}
        </label>
        <a href="#" class="pull-right remove" ng-click="ctrl.removeItem(item)"><i class="glyphicon glyphicon-remove"></i></a>
      </li>
    </ul>
    <section class="text-center">
      <span class="pull-left"><strong>{{ctrl.remainingCount()}}</strong>
        <ng-pluralize count="ctrl.remainingCount()" when="{ one: 'item left', other: 'items left' }"></ng-pluralize></span>
      <div id="filters" class="btn-group btn-group-sm" role="group">
        <button ng-click="ctrl.filter()" type="button" class="btn btn-default" id="all">All</button>
        <button ng-click="ctrl.filter('active')" type="button" class="btn btn-default" id="active">Active</button>
        <button ng-click="ctrl.filter('completed')" type="button" class="btn btn-default" id="completed">Completed</button>
      </div>
      <a href="#" class="pull-right clear-all" ng-click="ctrl.clearCompletedItems()">Clear All</a>
    </section>
  </section>
</body>
</html>
